Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend, pages

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

pages:
  image: node:alpine
  stage: documentation
  before_script:
  - cd api-specification
  - npm install --dev-only
  script:
  - mkdir public
  - cp -rp node_modules/swagger-ui-dist/* public
  - cp -rp $DOCS_FOLDER/* public
  ...

feat: document display tweaks
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: added navigation
  frontend/src/app.js
  frontend/src/dashboard.js
  frontend/src/documentSets/documentSet.js
  frontend/src/documentSets/documentSets.js
  frontend/src/navigation/breadcrumbsNavigation.js
Due: frontend

feat: homepage
  frontend/src/dashboard.js
  frontend/src/home.js
  frontend/src/navigation/breadcrumbsNavigation.js
Due: frontend

feat: click on chart to select feature
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: upgrade api to python 3.8
  api/Pipfile
  api/Pipfile.lock
Due: api

fix: codeclimate exclude patterns
  .codeclimate.yml
Due: none

ci: include README.md in gitlab pages
  .gitlab-ci.yml
Due: none

fix: remove print statement from API set controller
  api/openapi_server/controllers/set_controller.py
Due: api

fix: API Dockerfile use python 3.8
  api/Dockerfile
Due: api

ci: gitlab ci config syntax fix
  .gitlab-ci.yml
Due: none

fix: duplicated sensitive explanations
  frontend/src/documents/document.js
Due: frontend

feat: cleanup log statements and commented code
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
Due: frontend

docs: add link to documentation in README
  README.md
Due: none

ci: always build documentation
  .gitlab-ci.yml
Due: none

feat: move concatenation of all features to chart component
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: cleanup dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: explanation feature count slider
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: added inactive classifier select
  frontend/src/documents/documentPredictedClassification.js
Due: frontend

feat: added inactive explainer select
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: added explicit classification
  frontend/src/documents/documentPredictedClassification.js
Due: frontend

Path conditions:
  api: any of: api/**/*
  frontend: any of: frontend/**/*
  pages: any of: api-specification/**/*
