Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

ci: deepsource trusted docker repository
  .deepsource.toml
Due: none

fix: frontend: log errors
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
Due: frontend

feat: document_controllers standardised error codes
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/errors.py
Due: api

perf: use results from optimization
  api/openapi_server/service/classification.py
Due: api

perf: use results from optimization
  api/harpocrates_server/service/classification.py
Due: api

feat: initial optimization with GridSearch
  api/harpocrates_server/service/classification.py
  api/optimization.py
Due: api

fix: syntax error
  api/harpocrates_server/service/errors.py
Due: api

fix: syntax error and handle HTTPStatus code in population script
  api/harpocrates_server/controllers/document_controller.py
Due: api

feat: bump API version
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  js-api-client/README.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

fix: correct null check in explanationchart
  frontend/src/documents/explanationBarChart.js
Due: frontend

fix: remove console.log
  frontend/src/documents/document.js
Due: frontend

fix: correct boolean and in documentBody
  frontend/src/documents/documentBody.js
Due: frontend

fix: don't redefine outer scope variable in population script
  api/populate.py
Due: api

fix: use latest distroless python
  api/Dockerfile
Due: api

fix: remove flask env variables from distroless container
  api/Dockerfile
Due: api

fix: remove unused imports
  frontend/src/documents/documentBody.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

feat: add typing to document sets controller
  api/harpocrates_server/controllers/set_controller.py
Due: api

fix: correct imports in set controller
  api/harpocrates_server/controllers/set_controller.py
Due: api

fix: null check on explanationBarChart click
  frontend/src/documents/explanationBarChart.js
Due: frontend

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile
