Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend, pages

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

pages:
  image: node:alpine
  stage: documentation
  before_script:
  - cd api-specification
  - npm install --dev-only
  script:
  - mkdir public
  - cp -rp node_modules/swagger-ui-dist/* public
  - cp -rp $DOCS_FOLDER/* public
  ...

fix: actually disable feature count slider
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: better label for feature count slider
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: use word analyzer for model vectorizer
  api/openapi_server/service/classification.py
Due: api

feat: optional feature count passed to explanation
  api/openapi_server/service/explanation.py
Due: api

feat: cleanup document_controller
  api/openapi_server/controllers/document_controller.py
Due: api

feat: initial population script
  api/populate.py
Due: api

fix: various bugfixes
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/controllers/set_controller.py
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/document.js
Due: api, frontend

fix: only overide mongodb client in poplator imports' globals
  api/populate.py
Due: api

feat: cleanup in frontend
  frontend/src/documents/documentInfo.js
  frontend/src/documents/documentPredictedClassification.js
Due: frontend

feat: cleanup populator script
  api/populate.py
Due: api

feat: frontend, document set list in variable to avoid conditional return
  frontend/src/documentSets/documentSets.js
Due: frontend

feat: frontend documentList in variable to avoid conditional return
  frontend/src/documentSets/documentSet.js
  frontend/src/documentSets/documentSets.js
Due: frontend

fix: prediction field name in API request to DB
  api/openapi_server/controllers/document_controller.py
Due: api

fix: readded needed imports in populator
  api/populate.py
Due: api

feat: parse document contents between pre tags
  api/openapi_server/service/data_parsing.py
Due: api

feat: add sensitive section to Document model
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/document.py
  api/openapi_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationToggles.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend, pages

feat: negate non sensitive features in frontend
  api/openapi_server/controllers/document_controller.py
  frontend/src/documents/document.js
Due: api, frontend

perf: increase cache size for SVC Classifier
  api/openapi_server/service/classification.py
Due: api

perf: populator decrease test sample size
  api/populate.py
Due: api

fix: broken URLs in API spec and documentation homepage
  api-specification/api-specification/openapi.yml
  api/openapi_server/openapi/openapi.yaml
  static/index.html
Due: api, pages

Path conditions:
  api: any of: api/**/*
  frontend: any of: frontend/**/*
  pages: any of: api-specification/**/*
