Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

docs: add static analyze badges
  README.md
Due: none

perf: use results from optimization
  api/harpocrates_server/service/classification.py
Due: api

feat: initial optimization with GridSearch
  api/harpocrates_server/service/classification.py
  api/optimization.py
Due: api

perf: optimization
  api/harpocrates_server/service/classification.py
  api/optimization.py
Due: api

ci: ignore more files in codeclimate config
  .codeclimate.yml
Due: none

fix: use probability=True in SVC classifier
  api/harpocrates_server/service/classification.py
Due: api

fix: temporarly commented out shap explainer
  api/harpocrates_server/controllers/document_controller.py
Due: api

ci: remove nodesecurity plugin from codeclimate
  .codeclimate.yml
Due: none

ci: added codeclimate report command to Makefile
  Makefile
Due: api, frontend

docs: fix html docs page
  docs/index.html
Due: none

ci: generate codeclimate report
  .gitlab-ci.yml
Due: none

ci: fix codeclimate path
  .gitlab-ci.yml
Due: none

feat: properly return deleted document
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/document.py
Due: api

feat: material chart tooltip
  frontend/src/documents/explanationBarChart.js
Due: frontend

fix: rebase mistakes
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/paragraph.py
  api/optimization.py
Due: api

feat: better paragraph split
  api/harpocrates_server/service/document.py
Due: api

WIP
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/document.py
  api/populate.py
Due: api

feat: initial frontend visualization for paragraph level classification
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/classification.py
  api/harpocrates_server/service/document.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentBody.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/Paragraph.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

feat: initial line level classification
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/__init__.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/models/line.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/document.py
  api/populate.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentBody.js
  js-api-client/README.md
  js-api-client/docs/Line.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/Line.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/test/model/Line.spec.js
Due: api, frontend

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile
