Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  - VERSION=test-mode-1 BUILD_ARGS="--build-arg TEST_MODE=1" make build
  - VERSION=test-mode-1 make tag
  - VERSION=test-mode-1 make deploy
  ...

feat: final user evaluation script modification
  api/setup_evaluation.py
Due: api

feat: corrected setup_evlauation script for S40
  api/harpocrates_server/controllers/document_controller.py
  api/setup_evaluation.py
  document_finder/find.py
Due: api

fix: change directory for evaluation db dumps
  api/setup_evaluation.py
Due: api

fix: paragraph granularity for user evaluation
  api/setup_evaluation.py
Due: api

fix: frontend show granular sensitivity for correct test modes
  frontend/src/documents/textContentAnnotator.js
Due: frontend

feat: evaluation setup script
  api/harpocrates_server/controllers/document_controller.py
  api/setup_evaluation.py
Due: api

fix: disable textcontent level classification in test mode
  frontend/src/documents/textContentAnnotator.js
Due: frontend

feat: only leave 1 redaction label option in test mode
  frontend/src/documents/redactionLabelSelect.js
Due: frontend

feat: user study second seed
  api/setup_evaluation.py
Due: api

perf: use thundersvm for seed finder script
  document_finder/Pipfile
  document_finder/Pipfile.lock
  document_finder/find.py
Due: none

feat: final fixes for user evaluation
  api/.env.sample
  api/harpocrates_server/__init__.py
  api/harpocrates_server/db.py
  api/setup_evaluation.py
Due: api

feat: setup evaluation setup a test collection
  api/setup_evaluation.py
Due: api

feat: setup evaluation with paragraph level content
  api/setup_evaluation.py
Due: api

feat: Section 40 classification
  api/setup_evaluation.py
  document_finder/find.py
Due: api

feat: dum db before setup evaluation
  api/harpocrates_server/__init__.py
  api/harpocrates_server/db.py
  api/setup_evaluation.py
Due: api

faet: initial conversion to XGBoost and SHAP
  api/Pipfile
  api/Pipfile.lock
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/classification.py
Due: api

docs: added links to final dissertation
  README.md
  docs/index.html
Due: none

docs: added link to video overview
  README.md
Due: none

fix: js-api-client/package.json, js-api-client/package-lock.json & js-api-client/.snyk to reduce vulnerabilities
  js-api-client/package.json
Due: none

fix: js-api-client/package.json, js-api-client/package-lock.json & js-api-client/.snyk to reduce vulnerabilities
  js-api-client/package-lock.json
Due: none

fix: js-api-client/package.json, js-api-client/package-lock.json & js-api-client/.snyk to reduce vulnerabilities
  js-api-client/.snyk
Due: none

fix: frontend/package.json, frontend/package-lock.json & frontend/.snyk to reduce vulnerabilities
  frontend/package.json
Due: frontend

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile
