Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile

ci: also install dev dependencies
  .gitlab-ci.yml
Due: none

docs: don't include pdf export plugin with mkdocs for api client
  .gitlab-ci.yml
  js-api-client/Makefile
  js-api-client/mkdocs.yml
Due: none

ci: build api client pdf documentation
  .gitlab-ci.yml
Due: none

ci: add make to api client pdf docs generation
  .gitlab-ci.yml
Due: none

docs: added tech stack
  README.md
  docs/tech_stack.png
Due: none

docs: better tech stack diagram
  README.md
  docs/tech_stack.png
Due: none

docs: updated README.md
  README.md
Due: none

fix: upgrade @types/react from 16.9.23 to 16.9.24
  frontend/package-lock.json
  frontend/package.json
Due: frontend

ci: added make to api_client_docs step
  .gitlab-ci.yml
Due: none

docs: updated tech stack
  docs/tech_stack.png
Due: none

fix: source files cleanup
  frontend/src/documentSets/documentSetCard.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

feat: regenerate api client uising latest openapi generator
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/Feature.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: none

feat: upgrade api client dependencies
  js-api-client/package-lock.json
Due: none

fix: use same openapi generator for api and api client
  Makefile
Due: api, frontend

feat: regenerate api using latest openapi generator
  api/.openapi-generator/VERSION
Due: api

feat: upgrade api dependencies
  api/Pipfile.lock
  api/harpocrates_server/openapi/openapi.yaml
Due: api

feat: upgrade frontend Dockerfile node
  frontend/Dockerfile
Due: frontend

feat: bump api spec version
  api-specification/api-specification/openapi.yml
Due: none

feat: upgrade frontend depdencies
  frontend/package-lock.json
Due: frontend

fix: dependency updates (#43)
  Makefile
  api-specification/api-specification/openapi.yml
  api/.openapi-generator/VERSION
  api/Pipfile.lock
  api/harpocrates_server/openapi/openapi.yaml
  frontend/Dockerfile
  frontend/package-lock.json
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/Feature.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

fix: only reset new set name if successful
  frontend/src/documentSets/newSetForm.js
Due: frontend

fix: set creation
  frontend/src/documentSets/newSetForm.js
Due: frontend

feat: document_finder script
  document_finder/Pipfile
  document_finder/Pipfile.lock
  document_finder/find.py
Due: none

perf: use thundersvm for seed finder script
  document_finder/Pipfile
  document_finder/Pipfile.lock
  document_finder/find.py
Due: none

feat: setup evaluation with paragraph level content
  api/setup_evaluation.py
Due: api

fix: paragraph granularity for user evaluation
  api/setup_evaluation.py
Due: api
