Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./static/index.html public
    - cp README.md public
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../public/
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

fix: round weight float
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: cleanup
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: use theme colors in explanation chart
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: cleanup of documentBody
  frontend/src/documents/documentBody.js
Due: frontend

feat: add sensitivity to documents in set view
  api/openapi_server/controllers/set_controller.py
  frontend/src/documentSets/documentSet.js
  frontend/src/documentSets/documentSets.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/documentSensitivity.js
  frontend/src/documents/documentSensitivityBar.js
Due: api, frontend

feat: update npm dependencies
  frontend/package-lock.json
Due: frontend

fix: right align dark theme toggle
  frontend/src/dashboard.js
Due: frontend

fix: center breadcrumbs and set max length to 4
  frontend/src/navigation/breadcrumbsNavigation.js
Due: frontend

fix: breadcrumb links
  frontend/src/navigation/breadcrumbsNavigation.js
Due: frontend

fix: don't return HTTP status for poulation script
  api/openapi_server/controllers/document_controller.py
Due: api

fix: use all cores for populating
  api/populate.py
Due: api

fix: layout tweaks to make graph labels visible
  frontend/src/documents/explanationBarChart.js
Due: frontend

fix: null params check
  frontend/src/documents/explanationBarChart.js
Due: frontend

fix: remove console log
  frontend/src/documents/documentBody.js
Due: frontend

feat: cleanup, predicted classification comes with explanatio nby default
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/controllers/set_controller.py
  api/openapi_server/models/__init__.py
  api/openapi_server/models/document.py
  api/openapi_server/models/predicted_classification.py
  api/openapi_server/models/predicted_classification_with_explanation.py
  api/openapi_server/models/predicted_classification_with_explanation_all_of.py
  api/openapi_server/openapi/openapi.yaml
  api/populate.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/document.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

feat: refactor predicted classification
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/feature.py
  api/openapi_server/models/feature_all_of.py
  api/openapi_server/models/predicted_classification.py
  api/openapi_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationBarChart.js
  js-api-client/README.md
  js-api-client/docs/Feature.md
  js-api-client/docs/FeatureAllOf.md
  js-api-client/docs/InlineResponse200.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/docs/PredictedClassificationExplanation.md
  js-api-client/docs/PredictedClassificationExplanationFeatures.md
  js-api-client/docs/PredictedClassificationWithExplanation.md
  js-api-client/docs/PredictedClassificationWithExplanationAllOf.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

feat: add disabled download file button
  frontend/src/documents/document.js
  frontend/src/documents/exportButtons.js
Due: frontend

feat: add disabled original file download button
  frontend/src/documents/exportButtons.js
Due: frontend

feat: implemented shap explainer
  api/Pipfile
  api/Pipfile.lock
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/service/__init__.py
  api/openapi_server/service/classification.py
  api/openapi_server/service/explanation.py
  api/populate.py
Due: api

fix: cleanup
  api/openapi_server/service/explanation.py
Due: api
