Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

fix: flask dummy app in serice.classification
  api/harpocrates_server/service/classification.py
Due: api

fix: dummy flask current app in document_controller
  api/harpocrates_server/controllers/document_controller.py
Due: api

fix: show loading in explanation bar chart if not present yet
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: removed loading document snackbar
  frontend/src/documents/document.js
  frontend/src/documents/status.js
Due: frontend

feat: api spec implementation
  api-specification/api-specification/openapi.yml
Due: none

feat: js-api-client implementation
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: none

feat: api implementation
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/document.py
Due: api

feat: final document download implementation
  api/harpocrates_server/controllers/document_controller.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/exportButtons.js
  js-api-client/package-lock.json
Due: api, frontend

feat: document export
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/document.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/exportButtons.js
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

fix: don't redact newlines
  api/harpocrates_server/service/document.py
Due: api

feat: don't redact whitespaces except for space
  api/harpocrates_server/service/document.py
Due: api

feat: favicon
  README.md
  api/.vscode/settings.json
  docs/ic_launcher.png
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo/drawable-hdpi/ic_launcher.png
  frontend/public/logo/drawable-mdpi/ic_launcher.png
  frontend/public/logo/drawable-xhdpi/ic_launcher.png
  frontend/public/logo/drawable-xxhdpi/ic_launcher.png
  frontend/public/logo/drawable-xxxhdpi/ic_launcher.png
  frontend/public/logo/favicon.ico
  frontend/src/dashboard.js
  frontend/src/home.js
  frontend/src/index.html
Due: api, frontend

docs: place logo in more places
  README.md
  docs/index.html
Due: none

feat: frontend dependencies upgrade
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: API dependencies update
  api/Pipfile.lock
Due: api

feat: show sensitive explanations by default
  frontend/src/documents/document.js
Due: frontend

feat: frontend different test modes as environement variables
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/document.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/explanationToggles.js
  frontend/src/documents/textContentAnnotator.js
Due: frontend

feat: added frontend test modes with parameters and CI build scripts
  .gitlab-ci.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.md
Due: frontend

fix: ci frontend build args
  .gitlab-ci.yml
  Makefile
Due: api, frontend

feat: testing mode
  .gitlab-ci.yml
  Makefile
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.md
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/document.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/explanationToggles.js
  frontend/src/documents/textContentAnnotator.js
Due: api, frontend

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile
