Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./static/index.html public
    - cp README.md public
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../public/
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

fix: camelCase
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/controllers/set_controller.py
  api/harpocrates_server/controllers/text_content_controller.py
  api/harpocrates_server/encoder.py
  api/harpocrates_server/models/base_model.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/models/document_set.py
  api/harpocrates_server/models/document_sets.py
  api/harpocrates_server/models/documents.py
  api/harpocrates_server/models/feature.py
  api/harpocrates_server/models/feature_all_of.py
  api/harpocrates_server/models/http_status.py
  api/harpocrates_server/models/predicted_classification.py
  api/harpocrates_server/models/predicted_classification_explanation.py
  api/harpocrates_server/models/section.py
  api/harpocrates_server/models/sensitive_section.py
  api/harpocrates_server/models/sensitive_section_all_of.py
  api/harpocrates_server/models/sensitive_sections.py
  api/harpocrates_server/models/text_content.py
Due: api

ci: disabled codeclimate report generation
  .gitlab-ci.yml
Due: none

WIP
  api-specification/api-specification/openapi.yml
  api/.openapi-generator-ignore
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/controllers/set_controller.py
  api/harpocrates_server/controllers/text_content_controller copy.py
  api/harpocrates_server/controllers/text_content_controller.py
  api/harpocrates_server/models/base_model_.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/document.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/textContentAnnotator.js
  frontend/src/documents/textPopoverMenu.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

fix: replace old Line objects with TextContent
  api/harpocrates_server/service/document.py
Due: api

fix: use document_sets mongo collection name
  api/harpocrates_server/db.py
Due: api

feat: upgrade connexion and fix openapi generator camelCase conversion
  api/.openapi-generator-ignore
  api/Pipfile
  api/Pipfile.lock
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/controllers/set_controller.py
  api/harpocrates_server/controllers/text_content_controller.py
  api/harpocrates_server/models/base_model.py
  api/harpocrates_server/models/base_model_.py
  api/harpocrates_server/service/document.py
  api/setup.py
Due: api

feat: display sensitivity bar left of TextContent
  frontend/src/documents/textContentAnnotator.js
Due: frontend

fix: remove print statements
  api/harpocrates_server/service/document.py
Due: api

feat: conditionally display lclassification in document and add level of granularity to specification
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/textContentAnnotator.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

feat: upgrade pip dependencies and don't use pre-release
  api/Pipfile
  api/Pipfile.lock
Due: api

feat: upgrade frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: upgrade api dependencies
  api/Pipfile.lock
Due: api

fix: remove old optimization code (moved to dedicated jupyter notebook repo)
  api/optimization.py
Due: api

ci: use mkdocs semi-official container
  .gitlab-ci.yml
Due: none

feat: update api dependencies
  api/Pipfile.lock
Due: api

feat: windows api container
  .gitlab-ci.yml
  Makefile
  api/windows.Dockerfile
Due: api, frontend

ci: override mkdocs container entrypoint
  .gitlab-ci.yml
Due: none

ci: disable cache and apk add make to mkdocs ci stage
  .gitlab-ci.yml
Due: none

perf: switch to tundersvm
  api/harpocrates_server/__init__.py
  api/harpocrates_server/service/classification.py
Due: api
