Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build-documentation
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npm run validate
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# codeclimate_report:
#   # disable cache for this job
#   cache: {}
#   # for some reason code quality only works on gitlab shared runners
#   only:
#     - merge_requests
#     - develop
#     - master
#   tags:
#     - shared
#   stage: test
#   image:
#     name: codeclimate/codeclimate:latest
#     entrypoint: [""]
#   before_script:
#     - apk add --no-cache make
#     - ln -s /usr/src/app/bin/codeclimate /usr/bin/codeclimate
#   script:
#     - make codeclimate-report
#   artifacts:
#     paths:
#       - "*.html"

api_client_doc:
  stage: build-documentation
  image: python:alpine
  before_script:
    - apk add --no-cache make
    - pip install mkdocs mkdocs-material
  script:
    - cd js-api-client
    - make doc
    - mv site ../api-client
  only:
    - master
  artifacts:
    paths:
      - api-client
  tags:
    - trdocker

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
api_doc:
  stage: build-documentation
  image: node:alpine
  script:
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../api-doc
  artifacts:
    paths:
      - api-doc
  only:
    - master
  tags:
    - trdocker

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./docs/index.html public
    # copy codeclimate report, allow failure
    # - cp codeclimate.html public
    - cp -r docs public
    - cp README.md public
    - cp -r api-client public/
    - mv api-doc public/api
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

fix: set python version to 3.6 for thundersvm
  api/Pipfile
  api/Pipfile.lock
Due: api

fix: saved ThunderSVM classifier
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/classification.py
Due: api

fix: different build and run time python versions
  api/Dockerfile
Due: api

fix: redeclare ython build version in runtime container
  api/Dockerfile
Due: api

fix: Dockerfile build stage with python 3.6
  api/Dockerfile
Due: api

perf: apply optimization results
  api/harpocrates_server/service/classification.py
Due: api

ci: fix windows build stage
  .gitlab-ci.yml
Due: none

ci: disable windows api container build
  .gitlab-ci.yml
Due: none

fix: remove xgboost
  api/Pipfile
Due: api

perf: thundersvm
  .gitlab-ci.yml
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/harpocrates_server/__init__.py
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/classification.py
Due: api

feat: added instance directory to dockerignore
  api/.dockerignore
Due: api

feat: multiple run statements in build stage dockerfile
  api/Dockerfile
Due: api

feat: upgrade pip dependencies for api
  api/Pipfile.lock
Due: api

fix: don't import remove xgboost
  api/harpocrates_server/service/classification.py
Due: api

fix: loading of clf from file and lowercase=True in vectorizer
  api/harpocrates_server/service/classification.py
Due: api

feat: re added thundersvm for comparison
  api/Pipfile
  api/Pipfile.lock
Due: api

feat: tried more classifiers
  api/harpocrates_server/service/classification.py
Due: api

fix: use predict() instead of predict_proba() for classification
  api/harpocrates_server/controllers/document_controller.py
Due: api

fix: removed console.log statements
  frontend/src/documents/document.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

WIP
  api-specification/api-specification/openapi.yml
  api/.dockerignore
  api/.openapi-generator/VERSION
  api/harpocrates_server/__init__.py
  api/harpocrates_server/controllers/document_controller copy.py
  api/harpocrates_server/models/__init__.py
  api/harpocrates_server/models/inline_object.py
  api/harpocrates_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentUploadForm.js
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/InlineObject.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/InlineObject.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
  js-api-client/test/model/InlineObject.spec.js
Due: api, frontend
