Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend, pages

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation
  - cleanup

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine  
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - mkdir public
    - cp -rp node_modules/swagger-ui-dist/* public
    - cp -rp $DOCS_FOLDER/* public
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" public/index.html
    - mv public ../
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - api-specification/**/*
    


cleanup_job:
  image: alpine
  stage: cleanup
  script:
    - apk add make
    - make docker-logout
  when: always

ci: fix gitlab pages public path
  .gitlab-ci.yml
Due: none

feat: sensitive section name (label)
  api-specification/api-specification/openapi.yml
  api/openapi_server/models/sensitive_section.py
  api/openapi_server/models/sensitive_section_all_of.py
  api/openapi_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  js-api-client/README.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/docs/SensitiveSectionAllOf.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend, pages

fix: cleanup documentBody.js
  frontend/src/documents/documentBody.js
Due: frontend

style: prettier lint
  frontend/src/app.js
  frontend/src/dashboard.js
  frontend/src/documentSets/documentSet.js
  frontend/src/documentSets/documentSets.js
  frontend/src/documentSets/newSetForm.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/documentUploadForm.js
  frontend/src/documents/explanationToggles.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

feat: explanation feature weights chart
  api-specification/api-specification/openapi.yml
  api/.openapi-generator/VERSION
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/feature.py
  api/openapi_server/models/section.py
  api/openapi_server/models/sensitive_section.py
  api/openapi_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationBarChartNivo.js
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/Feature.md
  js-api-client/docs/Section.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend, pages

feat: cleanup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationBarChartNivo.js
  frontend/src/documents/explanationToggles.js
Due: frontend

fix: display correct explanations
  api/openapi_server/controllers/document_controller.py
  frontend/src/documents/documentBody.js
Due: api, frontend

feat: explanation chart page layout
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: Makefile added make api-client and api-server
  Makefile
Due: none

docs: document Makefile api-server and api-client commands
  README.md
Due: none

feat: classify and explain on upload
  .vscode/settings.json
  api-specification/api-specification/openapi.yml
  api/Pipfile.lock
  api/openapi_server/__init__.py
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/db.py
  api/openapi_server/models/document.py
  api/openapi_server/openapi/openapi.yaml
  js-api-client/docs/Document.md
  js-api-client/src/model/Document.js
Due: api, pages

fix: api spec format of section text field
  api-specification/api-specification/openapi.yml
  api/openapi_server/openapi/openapi.yaml
Due: api, pages

feat: wider layout for document view
  frontend/src/dashboard.js
  frontend/src/documents/document.js
Due: frontend

feat: upgrade react-text-annotate
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: work on document page layout
  frontend/src/documents/document.js
  frontend/src/documents/documentInfo.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: removed sidebar, added icon
  frontend/src/dashboard.js
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationToggles.js
  frontend/src/documents/redactionLabelSelect.js
  frontend/src/linkList.js
Due: frontend

feat: sensitivity part of ItemList
  frontend/src/documents/document.js
  frontend/src/documents/documentInfo.js
  frontend/src/documents/documentPredictedClassification.js
Due: frontend

feat: different sensitity explanation switches
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: initial feature slider and reverse sort features by absolute weight
  frontend/src/documents/document.js
  frontend/src/documents/explanationToggles.js
  frontend/src/documents/redactionLabelSelect.js
Due: frontend

fix: disable unimplemented feature count slider
  frontend/src/documents/explanationToggles.js
Due: frontend
