Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend, pages

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation
  - cleanup

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine  
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - mkdir public
    - cp -rp node_modules/swagger-ui-dist/* public
    - cp -rp $DOCS_FOLDER/* public
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" public/index.html
    - mv public ../
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - api-specification/**/*
    


cleanup_job:
  image: alpine
  stage: cleanup
  script:
    - apk add make
    - make docker-logout
  when: always

feat: added linter to vscode config
  api/.vscode/settings.json
Due: api

docs: document api client code generation
  README.md
Due: none

docs: document api specification linter
  api-specification/README.md
Due: pages

feat: bump specification version, remove version from package.json
  api-specification/api-specification/openapi.yml
  api-specification/package-lock.json
  api-specification/package.json
Due: pages

fix: remove unused ES_URI variable
  docker-compose.yml
Due: none

feat: updated JS api client
  js-api-client/README.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSections.js
Due: none

feat: update js api client version dependency in frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend

docs: document OpenAPI code generation
  README.md
Due: none

feat: variable for Node version
  frontend/Dockerfile
Due: frontend

feat: smaller API dockerfile
  api/.vscode/settings.json
  api/Dockerfile
  api/dev.Dockerfile
  api/uwsgi.ini
Due: api

feat: initial text popover menu and switch to MongoDB
  frontend/package-lock.json
Due: frontend

fix: package-lock.json frontend syntax
  frontend/package-lock.json
Due: frontend

feat: explanations use char offset, post sensitivities responds with all sensitivities
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/__init__.py
  api/openapi_server/models/feature_all_of.py
  api/openapi_server/models/section.py
  api/openapi_server/models/sensitive_section.py
  api/openapi_server/models/sensitive_section_all_of.py
  api/openapi_server/openapi/openapi.yaml
  api/setup.py
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/FeatureAllOf.md
  js-api-client/docs/Section.md
  js-api-client/docs/SensitiveSectionAllOf.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/test/model/FeatureAllOf.spec.js
  js-api-client/test/model/Section.spec.js
  js-api-client/test/model/SensitiveSectionAllOf.spec.js
Due: api, pages

feat: frontend suggestions with character offsets
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

feat: redact text
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationToggles.js
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationWithExplanation.js
  js-api-client/src/model/PredictedClassificationWithExplanationAllOf.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend, pages

feat: disabled explanation toggles until ready
  frontend/src/documents/document.js
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: preserve line returns in document
  frontend/src/documents/documentBody.js
Due: frontend

ci: fix pages directory
  .gitlab-ci.yml
Due: none

fix: duplicate key items and correct tag
  frontend/src/documents/documentBody.js
Due: frontend
