Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./static/index.html public
    - cp README.md public
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../public/
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

feat: dark theme toggle
  frontend/src/app.js
  frontend/src/dashboard.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: default to 20 explanations
  .vscode/settings.json
  api/openapi_server/service/explanation.py
Due: api

docs: updated image overview
  README.md
  static/document_edit.gif
  static/redacting.gif
Due: none

docs: added js api client docs
  .gitignore
  .gitlab-ci.yml
  Makefile
  js-api-client/Makefile
  js-api-client/mkdocs.yml
  static/index.html
Due: api, frontend

fix: ci added make for documentation stage
  .gitlab-ci.yml
Due: none

docs: added more links to documentation homepage
  static/index.html
Due: none

feat: bootstrapped documentation homepage
  static/README.md
  static/index.html
Due: none

docs: margins around README and fix image
  .gitlab-ci.yml
  README.md
  docs/index.html
  docs/redacting.gif
  static/README.md
Due: none

feat: center docs homepage container
  docs/index.html
Due: none

docs: fix ci api documentation
  .gitlab-ci.yml
Due: none

feat: added license
  LICENSE.md
  README.md
Due: none

ci: api-docs in artifacts
  .gitlab-ci.yml
  README.md
Due: none

ci: fix path to api doc
  .gitlab-ci.yml
Due: none

ci: fix api doc path
  .gitlab-ci.yml
Due: none

feat: pip build optimizations
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
Due: api

fix: 404 when document not found
  api/openapi_server/controllers/document_controller.py
Due: api

fix: layout tweaks
  frontend/src/documents/document.js
  frontend/src/documents/explanationBarChart.js
Due: frontend

fix: explanation slider max explanation count
  frontend/src/documents/document.js
  frontend/src/documents/explanationToggles.js
Due: frontend

feat: cleanup old js file
  frontend/src/linkList.js
Due: frontend

fix: abbreviate SVM
  frontend/src/documents/documentPredictedClassification.js
Due: frontend
