Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./static/index.html public
    - cp README.md public
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../public/
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

feat: multiple explainers
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/__init__.py
  api/openapi_server/models/predicted_classification.py
  api/openapi_server/models/predicted_classification_explanation.py
  api/openapi_server/openapi/openapi.yaml
  api/openapi_server/service/explanation.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/explanationBarChart.js
  frontend/src/documents/explanationToggles.js
  js-api-client/README.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/docs/PredictedClassificationExplanation.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

fix: return 404s when not found
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/service/classification.py
  api/openapi_server/service/explanation.py
Due: api

fix: sensitivity bar typography now uses div instead of p
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/documentPredictedClassification.js
Due: frontend

fix: documentSets page remove depcrecated feature
  frontend/src/documentSets/documentSets.js
Due: frontend

fix: cleanup
  api/openapi_server/service/explanation.py
Due: api

feat: added classifier type to predictedClassification
  api-specification/api-specification/openapi.yml
  api/openapi_server/controllers/document_controller.py
  api/openapi_server/models/predicted_classification.py
  api/openapi_server/openapi/openapi.yaml
  api/openapi_server/service/classification.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentPredictedClassification.js
  js-api-client/README.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

feat: more precise specification
  api-specification/api-specification/openapi.yml
  api/openapi_server/models/predicted_classification.py
  api/openapi_server/openapi/openapi.yaml
  js-api-client/README.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api

ci: define api spec validator in package.json
  .gitlab-ci.yml
  api-specification/package-lock.json
  api-specification/package.json
Due: none

docs: added notech to docs homepage
  docs/index.html
Due: none

feat: upgrade pip dependencies
  api/Pipfile.lock
Due: api

ci: also build distroless image
  .gitlab-ci.yml
  Makefile
  api/Pipfile
  api/Pipfile.lock
  api/distroless.Dockerfile
Due: api, frontend

feat: upgrade npm packages
  frontend/package-lock.json
  frontend/package.json
Due: frontend

ci: only build distroless for api
  .gitlab-ci.yml
Due: none

feat: switch api Dockerfile to distroless
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/distroless.Dockerfile
  api/waitress-server.py
Due: api

feat: bump api-client version
  js-api-client/package-lock.json
Due: none

feat: remove specific distroless mentions from Makefile and CI
  .gitlab-ci.yml
  Makefile
Due: api, frontend

feat: upgrade frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: margins for explanationChart legend
  frontend/src/documents/explanationBarChart.js
Due: frontend

feat: initial optimization with GridSearch
  api/openapi_server/service/classification.py
  api/optimization.py
Due: api

ci: deepsource analyzer
  .deepsource.toml
Due: none
