Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build-documentation
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npm run validate
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# codeclimate_report:
#   # disable cache for this job
#   cache: {}
#   # for some reason code quality only works on gitlab shared runners
#   only:
#     - merge_requests
#     - develop
#     - master
#   tags:
#     - shared
#   stage: test
#   image:
#     name: codeclimate/codeclimate:latest
#     entrypoint: [""]
#   before_script:
#     - apk add --no-cache make
#     - ln -s /usr/src/app/bin/codeclimate /usr/bin/codeclimate
#   script:
#     - make codeclimate-report
#   artifacts:
#     paths:
#       - "*.html"

api_client_doc:
  stage: build-documentation
  image: python:alpine
  before_script:
    - apk add --no-cache make
    - pip install mkdocs mkdocs-material
  script:
    - cd js-api-client
    - make doc
    - mv site ../api-client
  only:
    - master
  artifacts:
    paths:
      - api-client
  tags:
    - trdocker

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
api_doc:
  stage: build-documentation
  image: node:alpine
  script:
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../api-doc
  artifacts:
    paths:
      - api-doc
  only:
    - master
  tags:
    - trdocker

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./docs/index.html public
    # copy codeclimate report, allow failure
    # - cp codeclimate.html public
    - cp -r docs public
    - cp README.md public
    - cp -r api-client public/
    - mv api-doc public/api
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

perf: use CondensedNearestNeighbour downsampler
  api/harpocrates_server/service/classification.py
Due: api

perf: use SMOTETomek resampling
  api/harpocrates_server/service/classification.py
Due: api

feat: upgrade frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: upgrade api dependencies
  api/Pipfile.lock
Due: api

feat: pin api python version to 3.7
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
Due: api

docs: reflect usage of python 3.7
  README.md
  api/README.md
Due: api

ci: dependabot config
  .dependabot/config.yml
Due: none

feat: frontend update Docker Node version and pin NGINX
  frontend/Dockerfile
Due: frontend

docs: more badges
  README.md
Due: none

docs: add FOSSA license scan badge
  README.md
Due: none

ci: add fossa config
  .fossa.yml
Due: none

docs: added link to FOSSA report in README
  README.md
Due: none

docs: added link to FOSSA report in docs homepage
  docs/index.html
Due: none

feat: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

docs: hide broken badges
  README.md
Due: none

fix: upgrade superagent from 3.7.0 to 3.8.3
  js-api-client/package-lock.json
  js-api-client/package.json
Due: none

fix: upgrade @babel/cli from 7.8.3 to 7.8.4
  js-api-client/package-lock.json
  js-api-client/package.json
Due: none

docs: unify license as one file
  frontend/LICENSE.md
  js-api-client/.openapi-generator-ignore
  js-api-client/LICENSE.md
Due: frontend

ci: add fossa stage
  .gitlab-ci.yml
Due: none

ci: tag fossa job with trdocker and test
  .gitlab-ci.yml
Due: none
