Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npx lint-openapi "$DOCS_FOLDER/$SPEC_TO_DISPLAY" --errors_only
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: node:alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./static/index.html public
    - cp README.md public
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../public/
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

fix: use seperate collection for line level
  api/harpocrates_server/db.py
Due: api

feat: paragraph level use own collection
  api/harpocrates_server/db.py
Due: api

feat: API version dedicated to paragraph level classification
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/models/__init__.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/models/paragraph.py
  api/harpocrates_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  js-api-client/README.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/Paragraph.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

ci: less strict openapi validator
  api-specification/.validaterc
Due: none

ci: disable generation of codeclimate report
  .gitlab-ci.yml
Due: none

WIP
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/service/document.py
  api/populate.py
Due: api

feat: initial frontend visualization for paragraph level classification
  api-specification/api-specification/openapi.yml
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/classification.py
  api/harpocrates_server/service/document.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentBody.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/Paragraph.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
Due: api, frontend

feat: better paragraph split
  api/harpocrates_server/service/document.py
Due: api

fix: rebase mistakes
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/models/paragraph.py
  api/optimization.py
Due: api

feat: split textContentAnnotator into component
  frontend/src/documents/documentBody.js
  frontend/src/documents/textContentAnnotator.js
Due: frontend

feat: remove stripcase package in api
  api/Pipfile
  api/Pipfile.lock
Due: api

feat: API endpoint for textcontent sensitive sections
  api-specification/api-specification/openapi.yml
  api/.openapi-generator-ignore
  api/harpocrates_server/controllers/text_content_controller copy.py
  api/harpocrates_server/openapi/openapi.yaml
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/TextContentApi.md
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/TextContentApi.js
Due: api

feat: upgrade api dependencies
  api/Pipfile.lock
Due: api

feat: fixed sensitiveSections selection
  api-specification/api-specification/openapi.yml
  api/.openapi-generator-ignore
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/controllers/text_content_controller.py
  api/harpocrates_server/openapi/openapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/document.js
  frontend/src/documents/textContentAnnotator.js
  js-api-client/README.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

WIP
  api-specification/api-specification/openapi.yml
  api/.openapi-generator-ignore
  api/harpocrates_server/controllers/document_controller.py
  api/harpocrates_server/controllers/set_controller.py
  api/harpocrates_server/controllers/text_content_controller copy.py
  api/harpocrates_server/controllers/text_content_controller.py
  api/harpocrates_server/models/base_model_.py
  api/harpocrates_server/models/document.py
  api/harpocrates_server/openapi/openapi.yaml
  api/harpocrates_server/service/document.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documentSets/documentSet.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/textContentAnnotator.js
  frontend/src/documents/textPopoverMenu.js
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/ApiClient.js
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/api/TextContentApi.js
  js-api-client/src/index.js
  js-api-client/src/model/Document.js
  js-api-client/src/model/DocumentSet.js
  js-api-client/src/model/DocumentSets.js
  js-api-client/src/model/Documents.js
  js-api-client/src/model/Feature.js
  js-api-client/src/model/FeatureAllOf.js
  js-api-client/src/model/HttpStatus.js
  js-api-client/src/model/PredictedClassification.js
  js-api-client/src/model/PredictedClassificationExplanation.js
  js-api-client/src/model/Section.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSectionAllOf.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/src/model/TextContent.js
Due: api, frontend

ci: disabled codeclimate report generation
  .gitlab-ci.yml
Due: none
