Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  tags:
  - trdocker
  variables:
    SERVICE: $CI_JOB_NAME

fix: load documents in order to avoid breaking labels
  api/harpocrates_server/service/classification.py
  api/harpocrates_server/service/data_parsing.py
Due: api

fix: population script smaller test set and use new text extraction
  api/populate.py
Due: api

feat: update frontend depdencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: update api dependencies
  api/Pipfile.lock
Due: api

docs: README.md layout improvements
  README.md
  docs/harpocrates_512.png
Due: none

docs: fix gitlab centering of images in README
  README.md
Due: none

docs: fix favicon
  .gitlab-ci.yml
  docs/index.html
Due: none

docs: fix navbar appicon
  docs/index.html
Due: none

docs: fix center alignment README.md
  README.md
Due: none

docs: rounded corners on icon
  README.md
Due: none

docs: new redacting demo gif
  docs/redacting.gif
Due: none

perf: use f2 optimized parameter space for classifier pipeline
  api/harpocrates_server/service/classification.py
Due: api

feat: RandomDownsampling and picklable thundersvm
  api/Pipfile
  api/Pipfile.lock
  api/harpocrates_server/service/classification.py
Due: api

fix: disable sensitive explanation by default for test mode > 2
  frontend/src/documents/document.js
Due: frontend

docs: updated README.md
  README.md
Due: none

docs: fix links
  README.md
Due: none

feat: upgrade frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: upgrade API dependencies
  api/Pipfile.lock
Due: api

feat: initial annotations parser
  api/populate.py
Due: api

Path conditions:
  api: any of: api/**/*, .gitlab-ci/yml, Makefile
  frontend: any of: frontend/**/*, .gitlab-ci/yml, Makefile
