Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend

.gitlab-ci.yml:

# This file was obtained from https://gitlab.com/mdhtr/gitlab-pages-swagger-ui/raw/master/.gitlab-ci.yml
# and then modified

stages:
  - test
  - build-documentation
  - build
  - documentation

include:
  - template: Code-Quality.gitlab-ci.yml

# specify the location of the Open API Specification files within your project
# and the filename of the specification that you would like to display by default
variables:
  DOCS_FOLDER: api-specification
  SPEC_TO_DISPLAY: openapi.yml

# These folders are cached between builds
cache:
  paths:
    - ./node_modules

# Use IBM OpenAPI validator to check for any errors in API specification
validate-api-specification:
  image: node:alpine
  stage: test
  before_script:
    - cd api-specification
    - npm install --dev-only
  script:
    - npm run validate
  tags:
    - trdocker

code_quality:
  # disable cache for this job
  cache: {}
  # for some reason code quality only works on gitlab shared runners
  only:
    - merge_requests
    - develop
    - master
  tags:
    - shared
  stage: test

# codeclimate_report:
#   # disable cache for this job
#   cache: {}
#   # for some reason code quality only works on gitlab shared runners
#   only:
#     - merge_requests
#     - develop
#     - master
#   tags:
#     - shared
#   stage: test
#   image:
#     name: codeclimate/codeclimate:latest
#     entrypoint: [""]
#   before_script:
#     - apk add --no-cache make
#     - ln -s /usr/src/app/bin/codeclimate /usr/bin/codeclimate
#   script:
#     - make codeclimate-report
#   artifacts:
#     paths:
#       - "*.html"

api_client_doc:
  stage: build-documentation
  image: python:alpine
  before_script:
    - apk add --no-cache make
    - pip install mkdocs mkdocs-material
  script:
    - cd js-api-client
    - make doc
    - mv site ../api-client
  only:
    - master
  artifacts:
    paths:
      - api-client
  tags:
    - trdocker

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
api_doc:
  stage: build-documentation
  image: node:alpine
  script:
    - cd api-specification
    - npm install --dev-only
    - mkdir api
    - cp -rp node_modules/swagger-ui-dist/* api
    - cp -rp $DOCS_FOLDER/* api
    - sed -i "s#https://petstore\.swagger\.io/v2/swagger\.json#$SPEC_TO_DISPLAY#g" api/index.html
    - mv api ../api-doc
  artifacts:
    paths:
      - api-doc
  only:
    - master
  tags:
    - trdocker

# template service build job
.build_service:
  stage: build
  image: docker:stable
  # disable cache for this job
  cache: {}
  before_script:
    - apk add make
    - apk add git
    - make docker-login
  script:
    - make build
    - make tag
    - make deploy
  tags:
    - trdocker

api:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to api
  only:
    changes:
      - api/**/*
      - .gitlab-ci/yml
      - Makefile

frontend:
  extends: .build_service
  # name of service to build is the name of the job
  variables:
    SERVICE: $CI_JOB_NAME
  # only build on changes to frontend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci/yml
      - Makefile

# publishes all files from the $DOCS_FOLDER together with the static version of SwaggerUI
# sets the specification file named in $SPEC_TO_DISPLAY to be displayed by default
pages:
  image: alpine
  stage: documentation
  script:
    - mkdir public
    - cp ./docs/index.html public
    # copy codeclimate report, allow failure
    # - cp codeclimate.html public
    - cp -r docs public
    - cp README.md public
    - cp -r api-client public/
    - mv api-doc public/api
  artifacts:
    paths:
      - public
  only:
    - master
  tags:
    - trdocker

fix: api module name
  Makefile
  js-api-client/README.md
  js-api-client/docs/Document.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/DocumentSet.md
  js-api-client/docs/DocumentSets.md
  js-api-client/docs/Documents.md
  js-api-client/docs/Feature.md
  js-api-client/docs/FeatureAllOf.md
  js-api-client/docs/HttpStatus.md
  js-api-client/docs/PredictedClassification.md
  js-api-client/docs/PredictedClassificationExplanation.md
  js-api-client/docs/Section.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/docs/SensitiveSectionAllOf.md
  js-api-client/docs/SensitiveSections.md
  js-api-client/docs/SetApi.md
  js-api-client/docs/TextContent.md
  js-api-client/docs/TextContentApi.md
  js-api-client/package-lock.json
  js-api-client/package.json
  js-api-client/src/index.js
  js-api-client/test/api/DocumentApi.spec.js
  js-api-client/test/api/SetApi.spec.js
  js-api-client/test/api/TextContentApi.spec.js
  js-api-client/test/model/Document.spec.js
  js-api-client/test/model/DocumentSet.spec.js
  js-api-client/test/model/DocumentSets.spec.js
  js-api-client/test/model/Documents.spec.js
  js-api-client/test/model/Feature.spec.js
  js-api-client/test/model/FeatureAllOf.spec.js
  js-api-client/test/model/HttpStatus.spec.js
  js-api-client/test/model/PredictedClassification.spec.js
  js-api-client/test/model/PredictedClassificationExplanation.spec.js
  js-api-client/test/model/Section.spec.js
  js-api-client/test/model/SensitiveSection.spec.js
  js-api-client/test/model/SensitiveSectionAllOf.spec.js
  js-api-client/test/model/SensitiveSections.spec.js
  js-api-client/test/model/TextContent.spec.js
Due: api, frontend

ci: test js-api-client with code coverage
  .gitlab-ci.yml
Due: none

feat: frontend pin alpine version in build stage
  frontend/Dockerfile
Due: frontend

ci: test api client on trdocker
  .gitlab-ci.yml
Due: none

docs: added codecov badge
  README.md
Due: none

ci: add PDF export to api client docs
  .gitlab-ci.yml
  js-api-client/mkdocs.yml
Due: none

ci: add codecov config
  codecov.yml
Due: none

ci: add build base to api client doc build stage
  .gitlab-ci.yml
Due: none

ci :dependabot only on master
  .dependabot/config.yml
Due: none

ci: dependabot don't assign reviewers
  .dependabot/config.yml
Due: none

feat: api pin runtime docker image
  api/Dockerfile
Due: api

ci: add libffi-dev to api client docs
  .gitlab-ci.yml
Due: none

ci: add dependencies for mkdocs pdf export
  .gitlab-ci.yml
Due: none

ci: add pillow build deps
  .gitlab-ci.yml
Due: none

feat: added lighthouse ci to frontend dev deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: gitignore lighthouse results dict
  .gitignore
Due: none

ci: add lighthouse test stage
  .gitlab-ci.yml
Due: none

ci: gitlab ci lighthouse test production node env
  .gitlab-ci.yml
Due: none

ci: cleanup
  .gitlab-ci.yml
Due: none

ci: upload lighthouse results to temporary-public-storage
  .gitlab-ci.yml
Due: none
