Repository guillaumedsde/Harpocrates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, frontend, pages

api:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

frontend:
  stage: build
  image: docker:stable
  cache: {}
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build
  - make tag
  - make deploy
  variables:
    SERVICE: $CI_JOB_NAME

pages:
  image: node:alpine
  stage: documentation
  before_script:
  - cd api-specification
  - npm install --dev-only
  script:
  - mkdir public
  - cp -rp node_modules/swagger-ui-dist/* public
  - cp -rp $DOCS_FOLDER/* public
  ...

fix: Makefile build services in their directory context and remove gitlab ci cleanup step
  .gitlab-ci.yml
  Makefile
Due: none

fix: rebuild services upon changes to Makefile or gitlabci
  .gitlab-ci.yml
Due: none

feat: code quality ci stage
  .gitlab-ci.yml
Due: none

feat: added prettierrc
  .prettierrc
Due: none

docs: README.md
  README.md
Due: none

feat: added vscode config and demo GIF
  .gitignore
  .vscode/settings.json
  README.md
  static/document_edit.gif
Due: none

fix: compressed GIF
  static/document_edit.gif
Due: none

fix added codeclimate.yml
  .codeclimate.yml
Due: none

feat: switch to mongoDB, initial redaction (buggy)
  api-specification/api-specification/openapi.yml
  api/.openapi-generator/VERSION
  api/Pipfile
  api/Pipfile.lock
  api/openapi_server/__init__.py
  api/openapi_server/controllers/document_controller copy.py
  api/openapi_server/controllers/set_controller.py
  api/openapi_server/models/__init__.py
  api/openapi_server/models/sensitive_section.py
  api/openapi_server/models/sensitive_sections.py
  api/openapi_server/openapi/openapi.yaml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.js
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/textPopoverMenu.js
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/docs/SensitiveSections.md
  js-api-client/docs/SetApi.md
  js-api-client/package.json
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/test/model/SensitiveSection.spec.js
  js-api-client/test/model/SensitiveSections.spec.js
Due: api, frontend, pages

feat: gitignore vscode directory
  .gitignore
Due: none

feat: initial text selection menu
  frontend/package-lock.json
  frontend/package.json
  frontend/src/documents/documentBody.js
Due: frontend

WIP
  frontend/src/dashboard.js
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/documentPredictedClassification.js
  frontend/src/documents/textPopoverMenu.js
Due: frontend

feat: switch to mongoDB, initial redaction (buggy)
  api-specification/api-specification/openapi.yml
  api/.openapi-generator/VERSION
  api/Pipfile
  api/Pipfile.lock
  api/openapi_server/__init__.py
  api/openapi_server/controllers/document_controller copy.py
  api/openapi_server/controllers/set_controller.py
  api/openapi_server/models/__init__.py
  api/openapi_server/models/sensitive_section.py
  api/openapi_server/models/sensitive_sections.py
  api/openapi_server/openapi/openapi.yaml
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/app.js
  frontend/src/documents/document.js
  frontend/src/documents/documentBody.js
  frontend/src/documents/textPopoverMenu.js
  js-api-client/.openapi-generator/VERSION
  js-api-client/README.md
  js-api-client/docs/DocumentApi.md
  js-api-client/docs/SensitiveSection.md
  js-api-client/docs/SensitiveSections.md
  js-api-client/docs/SetApi.md
  js-api-client/package.json
  js-api-client/src/api/DocumentApi.js
  js-api-client/src/api/SetApi.js
  js-api-client/src/index.js
  js-api-client/src/model/SensitiveSection.js
  js-api-client/src/model/SensitiveSections.js
  js-api-client/test/model/SensitiveSection.spec.js
  js-api-client/test/model/SensitiveSections.spec.js
Due: api, frontend, pages

feat: added gitignore VScode files
  .gitignore
Due: none

feat: added make start
  Makefile
Due: none

docs: README reflect change to MongoDB
  README.md
Due: none

ci: Homepage for docuemntation
  .gitlab-ci.yml
  static/index.html
Due: none

docs: document custom hosts file entries
  README.md
Due: none

fix: cleanup old elasticsearch imports
  api/Pipfile
  api/Pipfile.lock
  api/openapi_server/__init__.py
  api/openapi_server/controllers/document_controller copy.py
  api/openapi_server/controllers/set_controller.py
Due: api

feat: udpate frontend npm dependencies
  frontend/package-lock.json
  frontend/package.json
  js-api-client/package-lock.json
Due: frontend

Path conditions:
  api: any of: api/**/*
  frontend: any of: frontend/**/*
  pages: any of: api-specification/**/*
